#app {
    max-width: 1400px;
    margin: 0 auto;
}

.title {
    color: var(--brand);
    text-align: center;
}

.add-players-button {
    margin-bottom: 20px;
}

.fieldInput {
    margin-bottom: 20px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.overlay--show {
    display: flex;
    justify-content: center;
    align-items: center;
}
